extends layout

block content
	h3 Compasses
	img(src='images/moscowcompass.jpg')
	h6 <b>Moscow compasses</b> have excellent needle setting time and needle stability while on the move.
	p Thumb strap secures the compass to your hand so you can keep map and compass together and oriented.<br/><br/>
	.row
		.large-4.columns.left
			a(href="images/MC22-225.jpg")
				img(src="images/MC22-225.jpg")
			b <br/><br/>Model 22 
			| Tourist
			p Settling time: good
			p Stability during running: none
			p Magnet: Powerful
			p Recommended for the novice
			b $26<br/><br/>
			p
				a(href="")
					button
						| Add to cart
		.large-4.columns.center
			a(href="images/MC11-225.jpg")
				img(src="images/MC11-225.jpg")
			b <br/><br/>Model 11 
			| Universal
			p Settling time: 1.5-2 sec
			p Stability during running: good
			p Magnet: high power
			p Recommended for mid level competitor
			b $36<br/><br/>
			p
				a(href="")
					button
						| Add to cart
		.large-4.columns.right
			a(href="images/MC3-225.jpg")
				img(src="images/MC3-225.jpg")
			b <br/><br/>Model 3 
			| Stable
			p Settling time: 1-1.5 sec
			p Stability during running: very good
			p Magnet: extra high power
			p Recommended for high level competitor
			b $53<br/><br/>
			p
				a(href="")
					button
						| Add to cart
	.row
		p Using online payment adds 4%.View Contact Page for personal check option. $4 back for pickup without shipping if using online ordering (send note).
		.centeralign
			button
				| View Cart