extends layout

block content
	h3 Contact Us

	p	If you'd like to place an order, please send an email to:<br/><br/>
	p
		a(href="mailto:wildwoodadventureoutfitters@gmail.com")
			| wildwoodadventureoutfitters@gmail.com<br/><br/>
	p We accept cash or check made payable to: Eileen Breseman
	p See us in person at most local meets, or we can ship orders with additional shipping & handling costs of $4/order.
	p <br/><br/><br/>
		img(src="images/Eileen_and_Rick.jpg")
	h2 About Us
	p Eileen & Rick Breseman enjoy adventures and sharing their love of the great outdoors.  For almost 30 years they have competed at local, national and international orienteering venues.  Attaining OUSA's National Coaching Level II certification, they coach students and adults in the sport of orienteering (map and compass). Most weekends you will find them out biking, hiking, or running in the woods.  Their three grown children are all avid orienteerers as well. Rick & Eileen live in Maltby, Snohomish, Washington. 