extends layout

block content
	.row
		h2 Welcome!
	.row
		.large-8.columns.left
			p <b>Wildwood Adventure Outfitters</b> provides adventure equipment to the orienteering and adventure racing community in the Pacific Northwest.
			p <br/>All products meet the following criteria:
				li High quality.
				li Good value.
				li Tested and used by Wildwood Adventure Outfitters.
			p<br/>
				a(href='images/Logo.jpg')
					img(src='images/Logo.jpg' width="320px")
		.large-4.columns.right.rightalign
			a(href='images/Compass_map_SI.jpeg')
				img(src='images/Compass_map_SI.jpeg')