extends layout

block content
	h1 Wildwood Adventure Outfitters
	h2 Home
	h2 Welcome!
	img(src='images/Logo.jpg')
	p Providing adventure equipment to the orienteering and adventure racing community in the Pacific Northwest.
	p All products meet the following criteria:
		li High quality.
		li Good value.
		li Tested and used by Wildwood Adventure Outfitters.