extends layout

block content
	h3 Home
	h2 Welcome!
	.small-8.columns.left
		a(href='images/Logo.jpg')
			img(src='images/Logo.jpg' width="320px")
		p Providing adventure equipment to the orienteering and adventure racing community in the Pacific Northwest.
		p All products meet the following criteria:
			li High quality.
			li Good value.
			li Tested and used by Wildwood Adventure Outfitters.
	.small-4.columns.right
		a(href='images/Compass_map_SI.jpeg')
			img(src='images/Compass_map_SI.jpeg')