doctype html
html
	head
		title= title
		link(href="/stylesheets/foundation.min.css", rel="stylesheet")
		link(rel='stylesheet', href='/stylesheets/style.css')

		script(src="/javascripts/jquery.js")
		script(src="/javascripts/active-link.js")
		script(src="http://cdnjs.cloudflare.com/ajax/libs/foundation/4.3.1/js/foundation/foundation.min.js")
		script(src="http://cdnjs.cloudflare.com/ajax/libs/foundation/4.3.1/js/foundation/foundation.forms.js")
		script.
			$(document).foundation();
	
	body
		#main-container
			#sec-top
				a(href="/")
					h1 Wildwood Adventure Outfitters
			.large-1.columns.left#sec-left
				<br/>
				a(href="/home")
					| Home<br/>
				a(href="/compasses")
					| Compasses<br/>
				a(href="/si")
					| Finger sticks<br/>
				a(href="/contact")
					| Contact Us<br/>
				a(href="/links")
					| Links
			.large-11.columns#sec-body
				block content

			.large-6.columns.right.rightalign#sec-footer
				p Wildwood Adventure Outfitters &copy; 2014
