extends layout

block content
	h3 Links
	.large-8.columns.left
		h4 Clubs & Associaions:
		p 
			a(href="www.cascadeoc.org")
				| Cascade Orienteering Club
		p
			a(href="http://orienteeringusa.org/")
				| Orienteering USA
		p
			a(href="http://www.youtube.com/watch?v=xgvIphYgT_E")
				| Beginning O Instruction
		p
			a(href="http://www.orienteeringbc.ca/gvoc/")
				| Greater Vancouver O Club BC
		<br/><br/>
		h4 Urban orienteering events around Seattle:
		p
			a(href="https://sites.google.com/site/thehoodhunt/")
				| 'Hood Hunts
		p
			a(href="http://www.streetscramble.com/")
				| Street Scramble
	.large-4.columns.right.rightalign
		img(src="images/Mini_Control.jpeg")