extends layout

block content
	h3 Finger sticks
	a(href="images/sportident.jpg")
		img(src="images/sportident.jpg")
	p
		b SPORTident 
		| electronic orienteering finger sticks make check-in at waypoints fast, and record detailed splits, easily downloaded at the finish line.
	.row
		.small-4.columns.left
			a(href="images/SI08.jpeg")
				img(src="images/SI08.jpeg")
			p Model: 
				b SI-8
			p Data exchange time: 115 ms
			p Lifetime: > 20 years
			p Punch capacity: 30
			p Red with black tip
			b $38
			p
				a(href="")
					button
						| Add to cart
		.small-4.columns.right
			a(href="images/SI09.jpeg")
				img(src="images/SI09.jpeg")
			p Model: 
				b SI-9
			p Data exchange time: 115 ms
			p Lifetime: > 20 years
			p Punch capacity: 50
			p Variety of colors
			b $55
			p
				a(href="")
					button
						| Add to cart
	.row
		p Using online payment adds 4%.View Contact Page for personal check option. $4 back for pickup without shipping if using online ordering (send note).
		.centeralign
			button
				| View Cart