body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p {
	padding: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}

/*********** basic formatting *************/

.centeralign {
	text-align: center;
}

.rightalign {
	text-align: right;
}

/**************** layout ******************/

#main-container {
	max-width: 1100px;
}

#sec-body {

}

#sec-top {

}

#sec-left{
	text-wrap: break-word;
}

#sec-footer {
	padding-top: 20px;
	padding-bottom: 5px;
}

/************** other stuff ****************/

.currentlink {
	color: black;
}